/*******
SPECIFICATION
*******/

ul, li, p {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	font-family: 'PF Centro Sans Pro', sans-serif;
	color: $grey;
}

a {
	text-decoration: none;
	color: $grey;
}

/*DARK TITLES FOR ABOUT SECTION AND PORTFOLIO*/

.titlebar {
	background-color: $grey;
	margin: 0 0 60px 0;
}

.title {
	font-size: 36px;
	color: #fff;
	margin: 60px 0;
	font-weight: 400;
}

/*TITLES RESPONSIVE*/

@media screen and (max-width: 760px) {
	.titlebar {
		margin: 0 0 40px 0;
	}

	.title {
		font-size: 24px;
		margin: 30px 0;
	}		
}

/*BUTTONS STYLING*/

.button {
	padding: 5px 30px;
	background-color: $grey;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	border: none;
}

.button:hover {
	text-decoration: none;
	color: #fff;
}

@media screen and (min-width: 1000px) {
	.button:hover {
		cursor: pointer;
	}		
}

/*INPUTS STYLING*/

input[type=text] {
	text-align: center;
	padding: 15px 0;
	border: 1px solid #fff;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-weight: 300;
}