/**********
ABOUT
**********/

.about__title {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 19px;
	background-color: $grey;
	color: #fff;
	text-align: center;
	font-weight: normal;
}

.about__list {
	list-style: none;
	width: 320px;
	margin: 0 auto;
	padding: 0;
}

.about__item-photo {
	width: 320px;
	height: 350px;
}

.about__item-description {
	width: 250px;
	margin: 5px auto 15px auto;
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}
