/**********
ABOUT
**********/

.about__title {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 19px;
	background-color: $grey;
	color: #fff;
	text-align: center;
	font-size: 24px;
	font-weight: normal;
}

.about__list {
	list-style: none;
	width: $mobile;
	margin: 0 auto;
	padding: 0;
}

.about__item-photo {
	width: 320px;
	height: 350px;
}

.about__item-description {
	width: 250px;
	margin: 5px auto 15px auto;
	text-align: center;
	font-family: 'PF Centro Sans Pro Light', Tahoma, sans-serif;
	font-size: 18px;
	font-weight: 300;
	line-height: 21px;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.about__title {
		padding: 35px 0;
		font-size: 30px;
	}

	.about__list {
		width: $tablet;
	}

	.about__item {
		display: flex;
		align-items: center;
		padding: 0;

		&:nth-child(even) {
			flex-direction: row-reverse;
		}

	}

	.about__item-photo {
		width: 384px;
		height: 350px;
		vertical-align: bottom;
	}

	.about__item-description {
		width: 250px;
		margin: 0;
		text-align: left;
		font-size: 30px;
		line-height: 35px;
	}

	.about__item:nth-child(odd) .about__item-photo {
		margin-right: 70px;
	}

	.about__item:nth-child(even) .about__item-description {
		margin-right: 70px;
	}
	
}

@media screen and (min-width: $desktop) {

	.about__title {
		padding: 57px 0;
		font-size: 36px;
	}

	.about__list {
		width: $desktop;
		margin-top: 78px;
		margin-bottom: 52px;
	}

	.about__item {
		margin-bottom: 56px;

		&:last-child {
			margin-bottom: 0;
		}

	}
	
	.about__item-photo {
		width: 735px;
		height: 400px;
	}

	.about__item-description {
		width: 330px;
		font-size: 36px;
	}

}
