/*******
ANIMATIONS
*******/

@media screen and (min-width: $tablet) {

	@keyframes slide-to-right {

		from {
			transform: translateX(-50vw);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		} 

	}

	@keyframes slide-to-left {

		from {
			transform: translateX(50vw);
			opacity: 0;
		}

		to {
			transform: translateX(0);
			opacity: 1;
		} 

	}	

}
