/********
CONTACTS
********/

.contacts {
	text-align: center;
}

.contacts__title {
	font-size: 24px;
	font-weight: normal;
}

.contacts__phone {
	width: 160px;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 4px 0 3px 0;
	background-color: $grey;
	color: #fff;
	font-size: 14px;
}
