/*******
FOOTER
*******/

.footer {
	padding: 14px;
	background-color: $grey;
}

.footer__copyright {
	margin: 0;
	color: #fff;
	text-align: center;
	font-size: 12px;
}

@media screen and (min-width: $desktop) {

	.footer {
		padding: 24px;
	}

	.footer__copyright {
		font-size: 14px;
	}

}
