/********
HEADER
********/

.header__promo {
	height: 440px;
	box-sizing: border-box;
	padding-top: 150px;
	background: url(../img/header-image-mobile@1x.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
}

.header__promo-content {
	width: 150px;
	margin: 0 auto;
	padding-top: 21px;
	padding-bottom: 31px;
	background-color: #fff;
}

.header__promo-name {
	margin: 0;
	padding: 0;
	color: #272838;
	font-size: 18px;
}

.header__promo-info {
	margin: 0;	
	padding: 0;
	color: #272838;
	font-size: 14px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {

	.header__promo {
		background-image: url(../img/header-image-mobile@2x.jpg);
	}

}
