/*********
NAVIGATION
*********/

.nav {
	padding-top: 21px;
	padding-bottom: 20px;
}

.nav__list {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 240px;
	margin: 0 auto;
	padding: 0;
}

.nav__item-link {
	font-size: 14px;

	&:focus {
		opacity: 0.5;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.nav {
		padding-top: 29px;
		padding-bottom: 30px;
	}
	
	.nav__list {
		width: 373px;
	}

	.nav__item-link {
		font-size: 18px;
		transition: 0.3s;
		
		&:hover {
			color: #F34213;
		}

	}

}

@media screen and (min-width: $desktop) {

	.nav {
		padding-top: 31px;
		padding-bottom: 29px;
	}

}
