/**********
PORTFOLIO
**********/

.portfolio {
	text-align: center;
}

.portfolio__title {
	margin: 0;
	padding-top: 17px;
	padding-bottom: 19px;
	background-color: $grey;
	color: #fff;
	font-size: 24px;
	font-weight: normal;
}

.portfolio__more {
	margin-top: 3px;
	padding: 5px 25px 4px 25px;
	background-color: $green;
	color: #fff;
	font-size: 14px;
}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.portfolio {
		text-align: left;
	}

	.portfolio__title {		
		padding: 34px 0;
		font-size: 30px;
	}
	
}
