/*******
SOCIAL
*******/

.social {
	display: flex;
	justify-content: space-between;
	list-style: none;
	width: 195px;
	margin: 0 auto;
	padding: 0;
}

.social__icon {
	width: 45px;
	height: 50px;

	&:active {
		opacity: 0.5;
	}

}

/*RESPONSIVE*/

@media screen and (min-width: $tablet) {

	.social {
		width: 305px;
	}

	.social__icon {
		width: 63px;
		height: 70px;
		transition: 0.3s;

		&:hover {
			opacity: 0.6;
		}

	}
	
}

@media screen and (min-width: $desktop) {

	.social {
		width: 352px;
	}

	.social__icon {
		width: 73px;
		height: 80px;
	}

}
