/********************
SPECIFICATION
********************/

body {
	min-width: 320px;
	color: $grey;
	font-family: 'PF Centro Sans Pro Regular', Tahoma, sans-serif;
	scroll-behavior: smooth;
}

main {
	overflow-x: hidden;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: $grey;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	position: absolute;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	overflow: hidden;
}