/**********
TYPOGRAPHY
**********/

@font-face{
	font-family: 'PF Centro Sans Pro Regular';
	src: url('../fonts/PFCentroSansPro-Regular.woff2') format('woff2'),
		url('../fonts/PFCentroSansPro-Regular.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'PF Centro Sans Pro Medium';
	src: url('../fonts/PFCentroSansPro-Medium.woff2') format('woff2'),
		url('../fonts/PFCentroSansPro-Medium.woff') format('woff');
	font-display: swap;
}

@font-face {
	font-family: 'PF Centro Sans Pro Light';
	src: url('../fonts/PFCentroSansPro-Light.woff2') format('woff2'),
		url('../fonts/PFCentroSansPro-Light.woff') format('woff');
	font-display: swap;
}
