/********
WORKS
********/

.works {
	list-style: none;
	width: 320px;
	margin: 0 auto 3px auto;
	padding: 0;
}

.works__item {
	padding-bottom: 14px;
}

.works__item-image {
	width: 320px;
	height: 350px;
}

.works__item-title {
	margin-top: 5px;
	margin-bottom: 1px;
	color: $green;
	font-family: 'PF Centro Sans Pro Medium', Tahoma, sans-serif;
	font-size: 24px;
	font-weight: 500;
	line-height: 29px;
}

.works__item-subtitle {
	margin-top: 0;
	margin-bottom: 7px;
	color: #000;
	font-size: 18px;
	font-weight: normal;
}

.works__item-info {
	width: 292px;
	margin: 0 auto 12px auto;
	color: #000;
	font-size: 14px;
	line-height: 17px;
}

.works__item-more {
	padding: 4px 35px;
	background-color: $grey;
	color: #fff;
	font-size: 14px;
}
