/******
CONTACTS SECTION
******/

.contacts__title {
	color: $grey;
	margin-bottom: 30px;
}

.contacts__phone {
	background-color: $grey;
	color: #fff;
	font-size: 24px;
	padding: 15px 60px;
	margin-bottom: 60px;
}

.contacts__social-icons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	justify-content: center;
	margin-bottom: 85px;
}

.contacts__social-icon {
	margin-right: 60px;
}

.contacts__social-icon_instagram {
	margin-right: 0;
}

/*RESPONSIVE*/

@media screen and (max-width: 410px) {
	.contacts__social-icon {
		margin-right: 30px;
	}

	.contacts__phone {
		font-size: 20px;
		padding: 10px 40px;
		margin-bottom: 40px;
	}

	.contacts__social-icons {
		margin-bottom: 60px;
	}		
}