/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button:active, button:focus, .button:active, .button:focus {
  outline: none !important;
}

button::-moz-focus-inner, .button::-moz-focus-inner {
  border: 0 !important;
}

/*******
SPECIFICATION
*******/

body {
	font-family: 'PF Centro Sans Pro', sans-serif;
	color: $grey;
}

a {
	text-decoration: none;
	color: $grey;
}

/*DARK TITLES FOR ABOUT SECTION AND PORTFOLIO*/

.titlebar {
	background-color: $grey;
	margin: 0 0 60px 0;
}

.title {
	font-size: 36px;
	color: #fff;
	margin: 60px 0;
}

/*TITLES RESPONSIVE*/

@media screen and (max-width: 760px) {
	.titlebar {
		margin: 0 0 40px 0;
	}

	.title {
		font-size: 24px;
		margin: 30px 0;
	}		
}

/*BUTTONS STYLING*/

.button {
	padding: 5px 30px;
	background-color: $grey;
	box-sizing: border-box;
	text-decoration: none;
	text-align: center;
	border: none;
}

.button:hover {
	text-decoration: none;
	color: #fff;
}

@media screen and (min-width: 1000px) {
	.button:hover {
		cursor: pointer;
	}		
}

/*INPUTS STYLING*/

input[type=text] {
	text-align: center;
	padding: 15px 0;
	border: 1px solid #fff;
	box-sizing: border-box;
	background-color: rgba(0,0,0,0);
	color: #fff;
	font-weight: 300;
}